SSLrequireSSL
# allow access to servePdf for google pdf viewer
SetEnvIf Request_URI "(servePdf.php)$" servePdf

AuthType KerberosV5
AuthName "DoC Only"
require group cs2 jmc2 doc-staff doc-ug2 csg
Allow from env=servePdf
Deny from all
Order Deny,Allow
satisfy any
